:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
}
body * + * {
    margin-top: 1.5em;
}

.site-nav {
    display: flex;
    margin: 0;
    padding: .5em;
    background-color: #f4f4f4;
    list-style-type: none;
}

.site-nav > li {
    margin-top: 0;
}

.site-nav > li > a {
    display: block;
    padding: .5em 1em;
    text-decoration: none;
}

.site-nav > li + li {
    margin-left: 1em;
}

.dropdown {
      display: inline-block;
      position: relative;
      margin-top: 0;
      padding: .5em 1em;
}

/* .dropdown-label {
    padding: 0.5em 2em 0.5em 1.5em;
} */

/* .dropdown-label::after {
    content: "";
    position: absolute;
    right: 1em;
    top: 1em;
    border: 0.3em solid;
    border-color: black transparent transparent;
} */
/* .dropdown:hover .dropdown-label::after {
    top: 0.7em;
    border-color: transparent transparent black;
} */

.dropdown-menu {
    display: none;
    position: absolute;
    left: 0;
    top: .5em;
    margin-top: 1.2em;
    min-width: 100%;
    background-color: #eee;
}
.dropdown:hover .dropdown-menu {
    display: block;
}

.submenu {
    padding-left: 0;
    margin: 0;
    list-style-type: none;
    border: 1px solid #999;
}

.submenu > li + li {
    margin-top: 0;
    border-top: 1px solid #999;
}

.submenu > li > a {
    display: block;
    padding: .5em 1em;
    background-color: #eee;
    color: #369;
    text-decoration: none;
}

.submenu > li > a:hover {
    background-color: #fff;
}