<div class="object-container">
  <div class="object-details">
    <h3>{{ driver.name }} ({{ driver.status }})</h3>
    <button @click="editDriverModal = true">Edit</button>
  </div>
  <div class="status-btns-container">
  {% if driver.status != 'Deactivated' %}
    <button @click="editDriverModal = true">
      {% if driver.status == 'Available' %}
      Sit Out
      {% elif driver.status == 'Unavailable' %}
      Make Available
      {% endif %}
    </button>
    <button @click="activateDriverModal = true">Deactivate</button>
  {% elif driver.status == 'Deactivated' %}
    <button @click="activateDriverModal = true">Activate</button>
  {% endif %}
  </div>
</div>
<div class="modal-backdrop" id="edit-driver-{{ driver.id }}-modal">
  <div class="modal-content">
    <h2>Edit Driver</h2>
    <button 
    data-modal-target="#edit-driver-{{ driver.id }}-modal" 
    class="close-btn"
    @click="editDriverModal = false">×</button>
    <form class="edit-driver-form" method="post">
      <input type="hidden" name="id" value="{{ driver.id }}">
      <p>
        <label for="name">Driver Name</label>
        <input 
        type="text" 
        id="name" 
        name="name" 
        minlength="2"
        maxlength="100"
        value="{{ driver.name }}" 
        required>
      </p>
      <p><button type="submit" class="modal-submit js-modal-submit">Submit</button></p>
    </form>
  </div>
</div>

<div class="modal-backdrop" id="available-{{ driver.id }}-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Sitting Out Driver: {{ driver.name }}</h2>
      <button 
      data-modal-target="#available-{{ driver.id }}-modal" 
      class="close-btn"
      @click="editDriverModal = false">×</button>
    </div>
    <div class="modal-body"></div>
    {% if driver.status == 'Available' %}
    <form class="driver-unavailable-form" method="post">
      <p>
        Are you sure you would like to sit out this driver?
        Driver will no longer be available for selection. Driver can be made available, if needed.
      </p>
      <input type="hidden" name="id" value="{{ driver.id }}">
      <p>
        <button type="submit" class="modal-submit js-modal-submit">Sit Out</button>
      </p>
    </form>
    {% elif driver.status == 'Unavailable' %}
    <h2>Making Available Driver: {{ driver.name }}</h2>
    <form class="driver-available-form" method="post">
      <p>
        Are you sure you would like to make this driver available?
        Driver will be available for driver selection.
      </p>
      <input type="hidden" name="id" value="{{ driver.id }}">
      <p>
        <button type="submit" class="modal-submit js-modal-submit">Make Available</button>
      </p>
    </form>
    {% endif %}
  </div>
</div>
<div class="modal-backdrop" id="activation-{{ driver.id }}-modal">
  <div class="modal-content">
    <div class="modal-header">
      <h2>Deactivating Driver: {{ driver.name }}</h2>
      <button 
      data-modal-target="#activation-{{ driver.id }}-modal" 
      class="close-btn"
      @click="editDriverModal = false">×</button>
    </div>
    <div class="modal-body"></div>
    {% if driver.status == 'Available' or driver.status == 'Unavailable' %}
    <form class="driver-deactivation-form" method="post">
      <p>
        Are you sure you would like to deactivate this driver?
        Driver will no longer be available for selection. Driver can be reactivated, if needed.
      </p>
      <input type="hidden" name="id" value="{{ driver.id }}">
      <p>
        <button type="submit" class="modal-submit js-modal-submit">Deactivate</button>
      </p>
    </form>
    {% elif driver.status == 'Deactivated' %}
    <h2>Activating Driver: {{ driver.name }}</h2>
    <form class="driver-activation-form" method="post">
      <p>
        Are you sure you would like to activate this driver?
        Driver will be available for driver selection.
      </p>
      <input type="hidden" name="id" value="{{ driver.id }}">
      <p>
        <button type="submit" class="modal-submit js-modal-submit">Activate</button>
      </p>
    </form>
    {% endif %}
  </div>
</div>
  