.btn {
  padding: 1em 1.5em;
  border: none;
  border-radius: .25em;
  background-color: white;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.close-btn {
  background: none;
  border: none;
  margin: 0;
  font-size: 28px;
  cursor: pointer;
  color: black;
  line-height: 1;
  padding: 0;
  width: 30px;
  height: 30px;
}

.form-field {
  display: flex;
  justify-content: space-between;
  column-gap: 4em;
}

.form-field input, select {
  margin: 0;
}

.flash-message {
  position: fixed;
  bottom: 2em;
  right: 2em;
  padding: 1em .5em;
  border-radius: 6px;
  
  color: black;
  font-weight: bold;
  z-index: 1000;
}

.flash-success {
  background-color: rgb(207, 255, 204);
}

.flash-error {
  background-color: rgb(255, 204, 204);
}

.status-btns-container {
    display: flex;
    flex-direction: column;
}

.dropdown-list {
  position: absolute;
  top: -3px;
  background: white;
  border: 1px solid #ccc;
  max-height: 200px;
  overflow-y: auto;
  width: 100%;
  z-index: 1000;
}

.dropdown-option {
  padding: 8px 12px;
  margin: 0;
  cursor: pointer;
}

.dropdown-option:hover {
  background-color: #f0f0f0;
}