.container {
    background-color: #f4f4f4;
    padding-bottom: 1em;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header h2 {
  margin-left: .7em;
}

.container-header button {
  margin-right: 1.3em;
}

.object-container {
    display: flex;
    align-items: start;
    justify-content: space-between;
    background-color: white;
    border-radius: .2em;
    box-shadow: .05em .05em 0.5em rgba(99, 99, 99, 0.2);
    margin-right: 1em;
    margin-left: 1em;
    padding-bottom: 1em;
}

.object-container button {
  margin-right: 1.5em;
}

.object-details {
    margin-left: 1em;
}

.object-details h3 {
    margin-bottom: .5em;
}

.object-details div {
    margin-top: 0;
}