.container {
    background-color: #f4f4f4;
    padding: 1em;
}

.container-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.container-header h2 {
  margin-left: .7em;
}

.container-header button,
.container-header a {
  margin-right: 1.3em;
}

.object-container {
    background-color: white;
    border-radius: .2em;
    box-shadow: .05em .05em 0.5em rgba(99, 99, 99, 0.2);
    margin-right: 1em;
    margin-left: 1em;
    padding-bottom: 1em;
}


.object-header {
  padding-left: 1em;
  padding-top: 1em;
}

.object-body {
  display: flex;
  padding-left: 1em;
  column-gap: 10em;
}

.object-body > * {
  margin: 0;
}