.toast-container {
    position: fixed;
    bottom: 30px;
    right: 30px;
    padding: 4px;
    border-radius: 10px;
}

.toast-container.error {
    background-color: rgb(252, 223, 217);
    border: 2px solid #b16b62;
}

.toast-container.success {
    background-color: rgb(221, 252, 217);
    border: 2px solid #6cb162;
}
.toast-type {
    color: black;
    margin-bottom: 10px
}
.toast-message {
    margin: 0;
    color: black;
}