<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nopalli</title>
    <link rel="stylesheet" href="../static/css/base.css">
    {% block main_css %}{% endblock %}
</head>
<body>
  <header>
    <h1>Nopalli</h1>
    <nav>
      <ul class="navbar">
        <li><a href="{{ url_for('home.home') }}">Home</a></li>
        <li class="dropdown">
          <button
          class="dropdown-toggle"
          @click="toggleDropdown('dispatch')"
          @blur="closeDropdown('dispatch')">
            <span>Dispatch</span>
            <span class="dropdown-arrow" :class="{ open: openDropdown === 'dispatch' }">▼</span>
          </button>
          <div v-if="openDropdown === 'dispatch'" class="dropdown-menu">
            <a class="dropdown-item" href="">Loadboard</a>
            <a class="dropdown-item" href="{{ url_for('dispatch.index') }}">Dispatches</a>
            <a class="dropdown-item" href="{{ url_for('driver.index') }}">Drivers</a>
            <a class="dropdown-item" href="{{ url_for('broker.index') }}">Brokers</a>
            <a class="dropdown-item" href="{{ url_for('location.index') }}">Locations</a>
          </div>
        </li>
        <li class="dropdown">
          <button
          class="dropdown-toggle"
          @click="toggleDropdown('invoice')"
          @blur="closeDropdown('invoice')">
            <span>Invoicing</span>
            <span class="dropdown-arrow" :class="{ open: openDropdown === 'invoice' }">▼</span>
          </button>
          <div v-if="openDropdown === 'invoice'" class="dropdown-menu">
            <a class="dropdown-item" href="#">Completed</a>
            <a class="dropdown-item" href="#">Pending</a>
          </div>
        </li>
        <li><a href="">Reports</a></li>
        <li><a href="">Admin</a></li>
      </ul>
    </nav>
  </header>
  <div id="flash-messages">
    <div 
    v-for="(flash, index) in flashMessages" 
    :key="index" 
    :class="['flash-message', 'flash-' + flash.category]">
      [[ flash.message ]]
    </div>
  </div>
  <main>
    {% block content %}{% endblock %}
  </main>
  <footer>
    <div class="base-footer">
      <h2>Nopalli ©</h2>
    </div>
  </footer>
  <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
  <script>
    const { createApp } = Vue;

    createApp({
      delimiters: ['[[', ']]'],
      data() {
        return {
          openDropdown: null
        }
      },
      methods: {
        toggleDropdown(dropdownName) {
          this.openDropdown = this.openDropdown === dropdownName ? null: dropdownName;
        },
        closeDropdown(dropdownName) {
          setTimeout(() => {
            if (this.openDropdown === dropdownName)
              this.openDropdown = null;
          }, 200);
        }
      }
    }).mount('nav');

    {% set messages = get_flashed_messages(with_categories=true) %}
    createApp({
      delimiters: ['[[', ']]'],
      data() {
        return {
          flashMessages: [
            {% if messages %}
              {% for category, message in messages %}
                { 
                  category: "{{ category }}", 
                  message: "{{ message }}"
                }{{ "," if not loop.last }}
              {% endfor %}
            {% endif %}
          ]
        }
      },
      mounted() {
        setTimeout(() => {
          this.flashMessages = [];
        }, 6000);
      },
      }).mount('#flash-messages');
  </script>
  {% block scripts %}{% endblock %}
</body>
</html>