<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Nopalli</title>
    <link rel="stylesheet" href="../static/css/base.css">
    {% block main_css %}{% endblock %}
</head>
<body>
  <header>
    <h1>Nopalli</h1>
    <nav>
      <ul class="site-nav">
        <li><a href="{{ url_for('home.home') }}">Home</a></li>
        <li class="dropdown nav">
          <div class="dropdown-label nav">Dispatch</div>
          <div class="dropdown-menu nav">
            <ul class="submenu">
              <li><a href="">Loadboard</a></li>
              <li><a href="{{ url_for('dispatch.list_dispatches') }}">Dispatches</a></li>
              <li><a href="{{ url_for('driver.list_drivers') }}">Drivers</a></li>
              <li><a href="{{ url_for('broker.list_brokers') }}">Brokers</a></li>
              <li><a href="{{ url_for('location.list_locations') }}">Locations</a></li>
            </ul>
          </div>
        </li>
        <li class="dropdown nav">
          <div class="dropdown-label nav">Invoicing</div>
          <div class="dropdown-menu nav">
            <ul class="submenu">
              <li><a href="">Validations</a></li>
              <li><a href="">Invoiced</a></li>
              <li><a href="">Reports</a></li>
            </ul>
          </div>
        </li>
        <li><a href="">Reports</a></li>
        <li><a href="">Admin</a></li>
      </ul>
    </nav>
  </header>
  <main>
    {% block content %}{% endblock %}
  </main>
  {% block script %}{% endblock %}
</body>
</html>