.container {
    background-color: #f4f4f4;
    padding-bottom: 1em;
}

.container-subheading {
    display: flex;
    justify-content: space-between;
    align-items: start;
    margin-top: 1em;
}

.container-subheading h2 {
    margin-left: .8em;
}

.container-subheading button {
    font-family: Arial, Helvetica, sans-serif;
    background-color: white;
    box-shadow: .05em .05em 0.5em rgba(99, 99, 99, 0.2);
    padding: 1em 1em;
    margin-right: 1.2em;
    border: none;
    border-radius: .2em;
}

