:root {
  box-sizing: border-box;
}

*,
::before,
::after {
  box-sizing: inherit;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin: 0;
  padding: 1.2em;
}

body * + * {
    margin-top: 1.5em;
}

.navbar {
  display: flex;
  margin: 0;
  background-color: #98d1ff58;
  border-radius: 0.5em;
  list-style-type: none;
}

.navbar > li {
  margin-top: 0;
}

.navbar > li > a {
  display: block;
  padding: .5em 1em;
  text-decoration: none;
}

.navbar > li + li {
  margin-left: 1em;
}

.container {
    background-color: #98d1ff58;
    padding: 1em;
    border-radius: 0.5em;
}

.slab-container {
  display: flex;
  align-items: start;
  background-color: white;
  justify-content: space-between;
  border-radius: .5em;
  box-shadow: .05em .05em 0.5em rgba(99, 99, 99, 0.2);
  margin-right: 1em;
  margin-left: 1em;
  padding: 1em;
}

.slab-container > * {
  margin: 0;
}

.slab-title {
  font-size: 1.2em;
  font-weight: bold;
}

.base-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
