:root {
    box-sizing: border-box;
}

*,
::before,
::after {
    box-sizing: inherit;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 1.2em;
}

body * + * {
    margin-top: 1.5em;
}

.navbar {
    display: flex;
    margin: 0;
    background-color: #f4f4f4;
    list-style-type: none;
}

.navbar > li {
    margin-top: 0;
}

.navbar > li > a {
    display: block;
    padding: .5em 1em;
    text-decoration: none;
}

.navbar > li + li {
    margin-left: 1em;
}

.dropdown {
  position: relative;
}

.dropdown-toggle {
  font-size: 1em;
  cursor: pointer;
  border: none;
  padding: .5em 1em;
  display: flex;
  align-items: center;
  gap: .5em;
  background: none;
}

.dropdown-arrow {
  margin: 0;
  font-size: .75em;
  transition: transform .2s;
}

.dropdown-arrow.open {
  transform: rotate(180deg);
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  margin-top: 0em;
  background-color: white;
  width: 100%;
  overflow: hidden;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 1000;

}

.dropdown-item {
  display: block;
  text-decoration: none;
  margin: 0;
  padding: .5em .5em;
  color: black;
  transition: background .2s;
}

.dropdown-item:hover {
  background: #f3f4f6;
}

.base-footer {
  display: flex;
  justify-content: center;
  align-items: center;
}
