<div class="location-container">
  <div class="location-details">
    <h3>{{ location.name }} ({{ location.status }})</h3>
    <div class="location-address">
      {{ location.street_address }}<br>
      {{ location.city }}, {{ location.state }} {{ location.zipcode }}
    </div>
    <button class="modal-open edit" href="#edit-location-{{ location.id }}-modal">Edit</button>
  </div>

  {% if location.status == 'ACTIVE' %}
  <button class="modal-open" href="#activation-{{ location.id }}-modal">Deactivate</button>
  {% else%}
  <button class="modal-open" href="#activation-{{ location.id }}-modal">Activate</button>
  {% endif %}

  <div class="modal" id="edit-location-{{ location.id }}-modal">
    <div class="modal-backdrop"></div>
    <div class="modal-body">
      <button class="modal-close" href="#edit-location-{{ location.id }}-modal">close</button>
      <h2>Edit Location</h2>
      <form action="{{ url_for('location.edit_location') }}" method="post">
        <input type="hidden" name="id" value="{{ location.id }}">
        <p>
          <label for="name">Location Name</label>
          <input type="text" id="name" name="name" value="{{ location.name }}" required>
        </p>
        <p>
          <label for="street_address">Street Address</label>
          <input type="text" id="street_address" name="street_address" value="{{ location.street_address }}" required>
        </p>
        <p>
          <label for="city">City</label>
          <input type="text" id="city" name="city" value="{{ location.city }}" required>
        </p>
        <p>
          <label for="state">State</label>
          <input type="text" id="state" name="state" value="{{ location.state }}" required>
        </p>
        <p>
          <label for="zipcode">Zipcode</label>
          <input type="text" id="zipcode" name="zipcode" value="{{ location.zipcode }}" required>
        </p>
        <p><button type="submit" class="modal-submit">Submit</button></p>
      </form>
    </div>
  </div>

  <div class="modal" id="activation-{{ location.id }}-modal">
    <div class="modal-backdrop"></div>
    <div class="modal-body">
      <button class="modal-close" href="#activation-{{ location.id }}-modal">close</button>
      {% if location.status == 'ACTIVE' %}
      <h2>Deactivating Location: {{ location.name }}</h2>
      <form action="{{ url_for('location.deactivate') }}" method="post">
        <p>
          Are you sure you would like to deactivate this location?
          This location will no longer be available for location selection. Location can be activated again, if needed.
        </p>
        <input type="hidden" name="id" value="{{ location.id }}">
        <p>
          <button type="submit" class="modal-submit">Deactivate</button>
        </p>
      </form>
      {% else %}
      <h2>Activating Location: {{ location.name }}</h2>
      <form action="{{ url_for('location.activate') }}" method="post">
        <p>
          Are you sure you would like to activate this location?
          This location will become available for location selection.
        </p>
        <input type="hidden" name="id" value="{{ location.id }}">
        <p>
          <button type="submit" class="modal-submit">Activate</button>
        </p>
      </form>
      {% endif %}
    </div>
  </div>
</div>