{% extends "base.html" %}

{% block main_css %}
<link rel="stylesheet" href="{{ url_for('static', filename='locations/locations.css') }}">
<link rel="stylesheet" href="{{ url_for('static', filename='locations/_location.css') }}">
{% endblock %}

{% block content %}
  <div class="container">
    <div class="container-subheading">
      <h2>Locations</h2>
      <button class="modal-open" href="#new-location-modal">New Location</button>
    </div>

    <div class="locations-list-container">
      {% for location in locations %}
        {% include 'locations/_location.html' %}
      {% endfor %}
    </div>

    <div class="modal" id="new-location-modal">
      <div class="modal-backdrop"></div>
      <div class="modal-body">
        <button class="modal-close" href="#new-location-modal">close</button>
        <h2>Add New Location</h2>
        <form action="{{ url_for('location.new_location') }}" method="post">
          <p>
            <label for="name">Location Name</label>
            <input type="text" id="name" name="name" required>
          </p>
          <p>
            <label for="street_address">Street Address</label>
            <input type="text" id="street_address" name="street_address" required>
          </p>
          <p>
            <label for="city">City</label>
            <input type="text" id="city" name="city" required>
          </p>
          <p>
            <label for="state">State</label>
            <input type="text" id="state" name="state" required>
          </p>
          <p>
            <label for="zipcode">Zipcode</label>
            <input type="text" id="zipcode" name="zipcode" required>
          </p>
          <p><button type="submit" class="modal-submit">Submit</button></p>
        </form>
      </div>
    </div>
  </div>

  <script type="text/javascript">
    let open_btns = document.querySelectorAll('button.modal-open');
    let close_btns = document.querySelectorAll('button.modal-close');

    for (let i = 0; i < open_btns.length; i++) {
        open_btns[i].onclick = function (event) {
          event.preventDefault();
          modal = document.querySelector(event.target.getAttribute("href"));
          modal.style.display = 'block';
        };
    }
    
    for (let i = 0; i < close_btns.length; i++) {
        close_btns[i].onclick = function (event) {
          event.preventDefault();
          modal = document.querySelector(event.target.getAttribute("href"));
          modal.style.display = 'none';
        };
    }
  </script>
{% endblock %}